body {
  background-color: lightgray;
}

header {
  background-color: white;
  text-align: center;
  color: green;
  /* padding-left: 10px;
  padding-right: 50px;
  padding-top: 100px;
  padding-bottom: 200px; */
  /* padding: 50px; */
border: solid 2px black;
/* margin-bottom: 100px;
margin-top: 50px; */
width: 50%;
margin: 0 auto;


  }
